<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body style=''>
    <h2>Search Page</h2>
    <form method='post' action=''>
      <div>
        <label for=''>Search</label>
        <input
          type='text'
          name='q'
          class='form-control'
          id='search-input'
          placeholder='Nhập từ khoá...'
        />
      </div>
      <button type='submit'>Search</button>
    </form>

    <div>
      {{message}}
    </div>
  </body>
</html>